* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 4px;
  overflow: hidden;
  background-color: #fbfcf2;
}

.container {
  background-color: white;
  border: solid black 3px;
  border-radius: 10px;
  padding: 2rem;
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container input.code {
  flex: 1;
  margin: 10px;
  font-size: 75px;
  font-weight: 300;
  border-radius: 5px;
  height: 120px;
  width: 100px;
  border: solid #eee 1px;
  text-align: center;
}
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container input.code:focus {
  outline: solid steelblue 1px;
}

.container input.code:valid {
  border: solid 1px #3498db;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info {
  background-color: #eaeaea;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #777;
  border-radius: 5px;
  margin-top: 2rem;
}
