* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  padding: 20px;
}

h1 {
  text-align: center;
  letter-spacing: 3px;
  margin: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.pokemon-img-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), -1px -1px 2px rgba(0, 0, 0, 0.3);
}

.pokemon-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.pokemon-info div {
  margin: 6px 0;
}
.pokemon-info div * {
  letter-spacing: 1px;
}

.pokemon-id-container span {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
  font-size: 14px;
}

.pokemon-name h3 {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 500;
}

.pokemon-type h4 {
  font-size: 16px;
  font-weight: 500;
}
